* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: #F3F4F6;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    background-color: #FFFFFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;  /* Rounded corners */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search-input {
    padding: 10px 20px;
    width: 300px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}
.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.movie-card {
    position: relative;
    width: 200px;
    height: 330px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    perspective: 1000px;
    background: linear-gradient(to bottom, #FF7F50, #9C27B0);
}
.movie-card:hover {
    transform: rotateY(180deg);
}
.movie-card:hover .movie-front {
    opacity: 0;
}
.movie-front, .movie-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: visible;
    transition: opacity 0.2s;
}
.movie-front {
    background-color: #FFFFFF;
    z-index: 1;
}
.movie-back {
    transform: rotateY(180deg);
    background-color: #FFFFFF;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}
.movie-poster {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.movie-title {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
    font-size: 2em;
    text-transform: uppercase;
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: -webkit-linear-gradient(left, #FF7F50, #9C27B0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero.is-primary {
    background: linear-gradient(to bottom, #FF7F50, #9C27B0); /* gradient from coral to deep purple */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.film-strip {
    background: repeating-linear-gradient(
        to bottom,
        #000,
        #FFFFFF 5px,
        #000000 5px,
        #fff 5px,
        #000000 5px,
        #FFFFFF 5px
    );
    border: 1px solid #000;
    color: #FFFFFF;
    font-weight: bold;
}
.film-strip-button {
    background: repeating-linear-gradient(
        to bottom,
        #000,
        #FFFFFF 5px,
        #000000 5px,
        #fff 5px,
        #000000 5px,
        #FFFFFF 5px
    );
    border: 1px solid #000;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.film-strip-button:hover {
    background-color: #444;
    color: #fff;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .movie-card {
        width: 100%;
    }
}